{% extends 'base.html.twig' %}

{% block title %}New DentalDiagram{% endblock %}

{% block body %}
    <h1>Create new DentalDiagram</h1>

    {{ include('dental_diagram/_form.html.twig') }}

    <a href="{{ path('app_dental_diagram_index') }}">back to list</a>
{% endblock %}
